@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AboutYou</h1>
    <p>ShopOnline <a href="https://www.aboutyou.ro/magazinul-tau"> here</a>.</p>
</div>
